@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono&family=Lato:wght@100;300;400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

:root {
    /* Cores da marca */
    --brand-1:#4C6EF5;
    --brand-2:#364FC7;

    /* Tons de cinza */
    --grey0:#191C1F;
    --grey1:#212529;
    --grey2:#343A40;
    --grey3:#ADB5BD;
    --grey4:#CED4DA;
    --grey5:#F8F9FA;
}

.myComponent--Title1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 72px;
}

.myComponent--Title2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}

.myComponent--Title3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.myComponent--Text1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
}

.myComponent--Text2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.myComponent--Text3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

input::placeholder{
    background-color:var(--grey1);
}

input:focus{
    background-color: var(--grey2);
}

input{
    background-color: var(--grey3);
}

button:hover{
    background-color: var(--brand-2);
}

h3{
    text-align: center;
}

p{
    text-align: left;
}

.description{
    color: #ADB5BD;
}

.space{
    margin: 60px 0px;
}

button.default{
    border: none;
    background-color: var(--brand-1);
    padding: 20px;
    text-decoration: none;
    color: var(--grey5);
    padding: 19px 32px;
} 