.header {
    background-color: var(--grey1);
    color: var(--grey5);
    height: 500px;
    text-align: center;
    padding: 100px;
}

.header--emphasis {
    color: var(--brand-1);
}

.header__title {
    margin-top: 100px;
}

.header__text{
    text-indent: 30px;
}

.header__link {
    background-color: var(--brand-1);
    padding: 20px;
    text-decoration: none;
    color: var(--grey5);
    padding: 19px 32px;
}

.header__link:hover {
    background-color: var(--brand-2);
}
