nav{
    background-color:var(--grey1);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100;
    border-bottom: solid 3px white;
    border-color:var(--brand-1);

    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

button.enterButton{
    background-color: var(--grey1);
    color: var(--grey5);
    border: solid 1px var(--grey5);
    border-radius: 0px;
    padding: 20px 32px;
}

button:hover{
    background-color: var(--brand-2);
}

